<%= render 'shared/page_title', title: "All Chefs" %>

<ul class="nav nav-tabs">
  <li>
    <%= link_to "Recipes", recipes_path %>
  </li>
  <li class='active'>
    <%= link_to "Chefs", chefs_path %>
  </li>
</ul>

<div class='row'>
    <%= will_paginate %>
</div>

<% @chefs.each do |chef| %>
  <div class='row'>
    <div class='col-md-2'>
      <section class = "chef_info center">
        <%= link_to gravatar_for(chef, size: 100), chef_path(chef) %>
        <H5>Chef Name: <%= chef.chefname %></H5>
      </section>
    </div>
    
    <div class="col-lg-8 well">
       <h4>Profile:</h4>
       <p><%= chef.profile %></p>
    </div>
  </div>
<%  end %>